# Plugin folder
/vim/plugged/

# Temporary files
*.swp
*.swo
*~
# Vim spelling binary
*.spl

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a

vim/.netrwhist
vim/autoload/**

tags
